* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: hsl(217, 28%, 15%);
  width: 100%;
  height: 200vh;
}

.container .subtitle {
  background-image: url(/images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
  position: relative;
  margin-top: 50px;
}

.container .nav {
  display: flex;
  justify-content: space-between;
}

.container .nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-right: 30px;
}

.container .nav h1,
ul {
  margin-top: 50px;
}

.container .nav h1 {
  padding-left: 30px;
}

.container .nav ul a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding: 30px;
}

.container .nav .brand h1 {
  color: white;
}

.container .main .img {
  width: 600px;
  margin: 50px auto auto auto;
}

.container .main img {
  max-width: 100%;
}

.container .main h1 {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 5% auto 0 auto;
}

.container .subtitle p {
  color: white;
  text-align: center;
  margin: 2% auto 0 auto;
}

.container .subtitle button {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  border: none;
  outline-style: none;
  cursor: pointer;
  background: linear-gradient(
    148deg,
    rgba(164, 255, 248, 0.6951155462184874) 0%,
    rgba(103, 233, 225, 1) 100%
  );
  color: white;
  margin-top: 5%;
  display: block;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 43%;
}

.content-main {
  background-color: hsl(218, 28%, 13%);
  width: 100%;
  height: 190vh;
}

.content-main .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.content-main .contex-title {
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.content-main .main2 {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: 6fr 9fr;
  grid-template-areas: "image h1" "image p" "image a";
}

.content-main .main2 img {
  grid-area: image;
  margin-left: auto;
}

.content-main .main2 h1 {
  grid-area: h1;
  color: white;
  padding-top: 100px;
  padding-left: 20px;
}

.content-main .main2 p {
  grid-area: p;
  color: white;
  padding-left: 20px;
}

.content-main .main2 a {
  grid-area: a;
  color: aqua;
  margin-top: -200px;
  margin-left: 20px;
}

.content-main .main3 {
  background-image: url(/images/bg-quotes.png);
  background-repeat: no-repeat;
  background-position: 70px 0px;
}

.content-main .main3 {
  display: grid;
  grid-template-columns: 0.3fr 0.3fr 0.3fr;
  grid-template-rows: 1fr 1fr;
}

.content-main .main3 .card {
  width: 400px;
  height: 200px;
  background-color: rgb(32, 42, 60);
  color: white;
  padding: 30px;
  margin-left: auto;
  margin-top: 20px;
}

.content-main .main3 .card .information {
  display: flex;
  align-items: center;
  width: 30px;
  margin-top: 20px;
}
.content-main .main3 .card .information img {
  max-width: 100%;
  border-radius: 20px;
}

.content-main .main4 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content-main .main4 .card {
  width: 700px;
  height: 200px;
  background-color: hsl(219, 30%, 18%);
  text-align: center;
  padding: 30px;
  border-radius: 5px;
}

.content-main .main4 .card p {
  color: rgb(168, 168, 168);
  font-size: 0.9rem;
}

.content-main .main4 .card h1 {
  color: white;
}
.content-main .main4 .card input {
  width: 250px;
  height: 30px;
  border-radius: 20px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 14px;
  margin-right: 10px;
}

.content-main .main4 .card button {
  width: 150px;
  height: 30px;
  background: linear-gradient(
    148deg,
    rgba(164, 255, 248, 0.6951155462184874) 0%,
    rgba(103, 233, 225, 1) 100%
  );
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: white;
}

.footer {
  background-color: rgb(11, 21, 35);
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .main-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-areas: "header header header header" "p contact about privacy ";
}

.footer .main-content a {
  color: white;
  text-decoration: none;
}

.footer .main-content header {
  grid-area: header;
  color: white;
  font-size: 3rem;
  font-weight: bolder;
}

.footer .main-content p {
  grid-area: p;
  margin-top: 50px;
  width: 400px;
}

.footer .main-content ul {
  list-style-type: none;
}

.footer .main-content .contact {
  grid-area: contact;
  padding-left: 50px;
}

.footer .main-content .about {
  grid-area: about;
  padding-left: 50px;
}

.footer .main-content .privacy {
  grid-area: privacy;
}

/* !Responsive  */
@media (max-width: 575.98px) {
  .container .main .img {
    width: 400px;
    margin: 50px auto auto auto;
  }

  .container .main img {
    max-width: 100%;
  }

  .container .subtitle button {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    outline-style: none;
    cursor: pointer;
    background: linear-gradient(
      148deg,
      rgba(164, 255, 248, 0.6951155462184874) 0%,
      rgba(103, 233, 225, 1) 100%
    );
    color: white;
    margin-top: 5%;
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30%;
  }

  .container .subtitle {
    background-image: url(/images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20vh;
    position: relative;
    margin-top: 50px;
  }

  .content-main {
    background-color: hsl(218, 28%, 13%);
    width: 100%;
    height: 300vh;
  }

  .content-main .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .content-main .contex-title {
    text-align: center;
    color: white;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .content-main .main2 {
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "image image" "h1 h1" "p p" "a a";
  }

  .content-main .main2 h1 {
    grid-area: h1;
    color: white;
    padding-top: 100px;
    padding-left: 20px;
  }

  .content-main .main2 img {
    grid-area: image;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }

  .content-main .main2 h1 {
    grid-area: h1;
    color: white;
    padding-top: 100px;
    padding-left: 20px;
  }

  .content-main .main2 p {
    grid-area: p;
    color: white;
    padding-left: 20px;
  }

  .content-main .main2 a {
    grid-area: a;
    color: aqua;
    margin-top: 50px;
    margin-left: 20px;
  }

  .content-main .main3 {
    background-image: url(/images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position: 60px 0px;
  }

  .content-main .main3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .content-main .main3 .card {
    width: 400px;
    height: 200px;
    background-color: rgb(32, 42, 60);
    color: white;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  .content-main .main4 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 40px;
  }
  .content-main .main4 .card {
    width: 700px;
    height: auto;
    background-color: hsl(219, 30%, 18%);
    text-align: center;
    padding: 30px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "h1" "p" "input" "button";
  }

  .content-main .main4 .card p {
    grid-area: p;
    color: rgb(168, 168, 168);
    font-size: 0.9rem;
  }

  .content-main .main4 .card h1 {
    grid-area: h1;
    color: white;
  }
  .content-main .main4 .card input {
    grid-area: input;
    margin-right: auto;
    margin-left: auto;
  }

  .content-main .main4 .card button {
    grid-area: button;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer {
    background-color: rgb(11, 21, 35);
    width: 100%;
    height: 100vh;
  }

  .footer .main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "p" "contact" "about" "privacy";
  }

  .footer .main-content p {
    grid-area: p;
    font-weight: 100;
  }

  .footer .main-content .contact {
    grid-area: contact;
    padding-left: 0px;
    font-weight: lighter;
    font-size: 20px;
  }

  .footer .main-content .contact li {
    margin-top: 15px;
  }

  .footer .main-content .about {
    grid-area: about;
    padding-left: 0px;
    margin-top: 10px;
    font-weight: lighter;
    font-size: 20px;
  }

  .footer .main-content .about li {
    margin-top: 10px;
  }

  .footer .main-content .privacy {
    grid-area: privacy;
    margin-top: 10px;
    font-weight: lighter;
    font-size: 20px;
  }
  .footer .main-content .privacy li {
    margin-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container .main button {
    left: 35%;
  }

  .container .subtitle {
    background-image: url(/images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;
    position: relative;
    margin-top: 50px;
  }

  .content-main .contex-title {
    width: 300px;
  }

  .content-main .main2 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 6fr 9fr;
    grid-template-areas: "image h1" "image p" "image a";
  }

  .content-main {
    background-color: hsl(218, 28%, 13%);
    width: 100%;
    height: 200vh;
  }
  .content-main .main2 img {
    grid-area: image;
    margin-left: auto;
    max-width: 350px;
  }

  .content-main .main2 a {
    grid-area: a;
    color: aqua;
    margin-top: -150px;
    margin-left: 20px;
  }

  .content-main .main3 {
    background-image: url(/images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position: 50px 0px;
  }

  .content-main .main3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .content-main .main3 .card {
    margin-top: 30px;
  }
  .content-main .main4 {
    margin-top: 100px;
  }

  .footer .main-content {
    margin-top: 100px;
  }
}
